$gris_secondaire : #888888;

#buddypress{
	
	position: relative;
	
	// Button styles
	.comment-reply-link,
	a.button,
	button,
	div.generic-button a,
	input[type=button],
	input[type=reset],
	input[type=submit],
	ul.button-nav li a,
	a.bp-title-button{
		border:inherit;
		font-size:inherit;
	}
	
	// Notices
	
	#message{
		
		&.bp-template-notice{
			padding: 30px;
			background-color:#f8f8f8;
			margin-bottom: 20px;
			width: 100%;
			box-sizing: border-box;
			
			p{
				margin:0;
				padding:0;
			}
			
			// Custom styles
			&.updated{
			
				background-color:#ebfaf5;
		
				p{
					color:#38c994;
				}
				
				a, a:hover{
					color:#258763;
				}
			}
			
			&.error{
				background-color:#ffeeee;
		
				p{
					color:#fc5355;
				}
				
				a, a:hover{
					color:#c40306;
				}
			}
			
		}
	}
	
	// Group creation
	#group-create-tabs li{
		list-style-type:none;
		display:inline-block;
		margin: 0 25px 0 0;
	}
	
	#group-create-body{
		
		// Common elements
		label{
				display: block;
				margin: 10px 0;
		}
		
		#previous-next{
			
			margin-top: 20px;
		}
		
		#group-name{
			margin-bottom: 10px;
		}
		
		.radio{
			
			margin: 20px 0;
			
			ul{
				margin-top: 15px;
				
				li{
					margin-left: 50px;
				}
			}
			
		}
		
		.main-column{
			margin: 20px 0;
		}
		
		#avatar-crop-submit{
			display:block;
		}
	}
	
	#item-header{
	
		#item-actions {
			float:right;
			text-align: right;
			width: 20%;
			
			h3 {
				margin: 0 0 2px;
				font-size: 16px;
			}
			
			ul {
				margin-bottom: 0;
				overflow: hidden;
				list-style-type: none;
				
				img.avatar{
					height: 40px;
					margin: 2px;
					width: 40px;
				}
			}
		}
		
		#item-header-avatar {
			float: left;
			width: 20%;
			
			img.avatar {
				float: left;
				width: 100%;
				max-width: 100px;
				height: auto;
				border: none;
				box-shadow: none;
			}
		}
		
		#item-header-content{
			
			.highlight{
				font-weight: bold;
			}
			
			.activity{
				font-size: 14px;
				color:$gris_secondaire;
			}
			
			#item-meta{
				margin:20px 0 0 20%;
			}
		
		}
		
	}
	
	#item-nav{
			
		position: absolute;
		top: 170px;
		width: 150px;
		
		.item-list-tabs{
			
			ul{
				list-style-type:none;
				
				li{
					margin-left:0;
					font-size:14px;
					
					&#members-groups-li{
					
						span{
							background: $gris_secondaire;
							color: #fff;
							padding: 1px 6px;
							border-radius: 15px;
							font-size: 12px;
							float: right;
							
							&:hover{
								background: #111;
							}
						}
						
						&:hover span{
								background: #111;
						}
					}
				}
			}
		}
	}
	
	#item-body {
		float: right;
		width: 80%;
		
		.item-list-tabs{
			
			margin-top:20px;
			
			ul{
				list-style-type:none;
				clear: both;
				height:30px;
				
				li{
					margin-left:0;
					
					&.feed{
						float:left;
					}
					
					&#activity-filter-select{
						
						float:right;
						
						label{
							font-size:14px;
							color:$gris_secondaire;
						}
						
						#activity-filter-by{
							width:120px;
						}
					}
				}
			}
		}
		
		#whats-new-form{
			
			margin: 30px 0 50px;
			
			#whats-new-avatar{
				display:none;
			}
			
			#whats-new-textarea{
				margin-bottom: 10px;
				
				#whats-new{
					width:100%;
				}
			}
			
		}
	}
	
	
	.activity{
		
		ul#activity-stream.activity-list{
			
			list-style-type:none;
			
			li.activity-item{
				
				margin:0 0 30px 0;
				
				.activity-avatar{
					float:left;
					margin-right: 20px;
				}
				
				.activity-content{
				
					.activity-header{
						
						p{
							font-size:14px;
						}
						
						img.avatar{
							margin:0px 4px -3px 0;
							width:15px;
							height:15px;
						}
						
						.time-since{
							color:$gris_secondaire;
						}
					}
					
					.activity-inner{
						margin-left: 70px;
					}
					
					.activity-meta{
						
						margin: 10px 0px 0px 70px;
						
						a.button{
							font-size:14px;
						}
					}
				}
				
			}
		}
	}
	
}// END #buddypress

