@import "base";

.wrapper{
	width: 960px;
	margin: auto;
}

.main-header{
	@extend .clearfix;
}
.main-header .logo-wrap{
	float: left;
}
.main-header .main-menu{
	float: right;
}
.main-header .main-menu ul{
	list-style: none;
}
.main-header .main-menu li{
	display: inline;
}
.main-header .main-menu a{
	display: inline-block;
	padding: 10px 5px;
	margin: 0 8px;
}

//commun a plusieurs modules
section.description,
section.services,
section.cta,
section.portfolio,
section.blog{
	padding: 40px 0;
}
section .wrapper > h2{
	text-align:center;
	font-size: 30px;
	color: $gris-principal;
}
ul.services,
ul.portfolio,
ul.blog{
	list-style: none;
	@extend .grid;
}
ul.services li,
ul.portfolio li{
	@extend .col-1-3;
	@extend %grid-col;
}
ul.blog li{
	@extend .col-1-4;
	@extend %grid-col;
}

a.more-link{
	display: inline-block;
	font-size: 14px;
	color: $bleu-principal;
}
.cta-wrapper{
	text-align:center;
}
.cta-button{
	@extend %bouton-etendard;
}

//description
section.description{
	padding: 40px 0;
	text-align:center;
	color: $gris-principal;
}
section.description h1{
	font-size: 30px;
}
section.description p{
	font-size: 22px;
}

//services
ul.services .service{
	text-align: center;
}
ul.services .service h2{
	font-size: 24px;
	color: $bleu-principal;
	margin-bottom: 10px;
}
ul.services .service a.more-link{
	width: 100%;
	text-align:center;
	margin-top: 5px;
}

//portfolio
ul.portfolio{
	margin: 20px 0;
}
.portfolio .creation a{
	text-decoration: none;
}
.portfolio .creation figure{
	position: relative;
	
	&:before{
		content: "";
		display:block;
		position: absolute;
		top:0;
		bottom: 20px;
		left: 0;
		right: 0;
		background: rgba(0,0,0,.4);
		opacity: 0;
		@include transition();
	}
	&:hover:before{
		opacity: 1;
	}
}
.portfolio .creation figcaption{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #e6e7e8;
	padding: 5px 0;
	text-align: center;
	color: $bleu-principal;
	font-size: 18px;
	font-style: italic;
}

//blog
ul.blog{
	margin: 20px 0;
}
ul.blog .article .header{
	margin-bottom: 5px;
}
ul.blog .article .header-title{
	color: $bleu-principal;
	font-size: 18px;
	margin-bottom: 3px;
}
ul.blog .article .header-meta{
	color: $gris-principal;
	font-size: 14px;
}
ul.blog .article .content{
	margin-bottom: 8px;
	color: #122e3a;
	line-height: 1.3;
}