@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot?#iefix') format('embedded-opentype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}