.appearance_page_etendard_options h2.nav-tab-wrapper{
	margin-bottom: 0;
	max-width: 922px;
	margin-right: 20px;
}

.appearance_page_etendard_options .cocorico-tab-wrapper {
	background: #fff;
	padding: 0 15px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-top: none;
	max-width: 900px;
	margin-right: 20px;
}

.appearance_page_etendard_options .cocorico-tab-wrapper .form-table{
	margin-top:0;
}

.cocorico-tab-wrapper input[type=text]{
	width:300px;
}

#normal-sortables .submitbox .submitdelete:hover{
	color: red;
	border: none;
	background-color:transparent;
}


ul.slip-target li{
	background: #ddd;
	padding: 6px 8px;
	margin-bottom: 8px;
	cursor: move;
}
ul.slip-target li.slip-reordering{
	opacity: .7;
}